


.btn_reserva {
background-color: #f68105;
width: 100px;
color: #ffff;
border-radius: 80px;
border: none;
padding: 12px 70px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
text-transform: uppercase;
}

.btn_reserva:hover {
background-color: #e26617;
color: #ffff;

}

.a_btn_reserva {
    text-decoration: none;
}

.titulo_inicio_primer_seccion {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
font-size: 32px;

}
.p_inicio_primer_seccion {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 16px;

}

.subtitle_segunda_seccion {
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 30px;
line-height: 40px;

}

.boton_leer_mas {
background-color: #ffff;
color: black;
border-color: #f68105;
padding: 5px 8px;
font-size: 14px;
border-radius: 0%;

}
.boton_leer_mas:hover {
    background-color: #f68105;
    color: #fff;
}

.card_experiencia {
width: 300px;
margin-left: auto;
margin-right: auto;

}



.seccion_principal_imagen {
    background-image: url("../../assets/img/bannerprincipal.jpg");
height: 300px;
object-fit:cover;
background-position: center;
}

.seccion_inicio_comentarios {
background-color: #f68105;

}

.comentarios_clientes_titulo {
color: #ffff;
font-weight: bold;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
}

.subtitulo_comentario_cliente {
color: #000;
font-size: 26px;

}

.comentario_cliente {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
}

.imagen_cliente_seccion_incio {
    width: 50px;
    height: 50px;
}

.nombre_cliente {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.subtitle_redes_sociales {
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.section_redes_sociales {
background-color: #f68105;

}

.imagenes_redes {
max-width: 200px;
max-height: 200px;
}

.line {
width: 100%;
height: 1px;
background-color: #898787;

}

.icon {
    color: #ffff;
   list-style: none;
}

.copyright_footer {
font-size: 16px;
color: #ffff;

}

.footer_links {
list-style: none;
}

.footer_links a {
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    }


    .footer_section {
        background-color: #1d1c1c ;
    }