

.div_primer_seccion_nosotros {
    margin-bottom: 90px;
}



.titulo_inicio_nosotros {
    color: #f68105;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.p_inicio_nosotros {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;

}


.article_segunda_seccion_nosotros {
background-color: #f68105;
}

.titulo_segunda_seccion_nosotros {
color: #ffff;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 35px;
}

.imagen_segunda_seccion_nosotros {
    width: 360px;
}





.p_segunda_seccion_nosotros {
color: #ffff;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}


.titulo_tercer_seccion_nosotros {
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 26px;
}

.p_tercer_seccion_nosotros {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
width: 240px;
line-height: 20px;


}
.p_1_tercer_seccion_nosotros {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
line-height: 20px;
width: 280px;
}



.imagen_tercer_seccion_nosotros {
width: 270px;

}

.btn_contactanos {
background-color: #f68105;
color: #ffff;
border: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
padding: 18px 100px;
margin-bottom: 70px;
}

.a_btn_contactanos {
    text-decoration: none;
}



.imagen_section_nosotros {
    background-image: url("../../assets/img/banneraboutus.jpg");
    height: 330px;
    object-fit:cover;
    background-position: center;
    }

.test{
border: solid #000;

}    
@media screen and (min-width:768px) and (max-width:1023px) {
    

    .titulo_inicio_nosotros {
        font-size: 34px;
    }

    .p_inicio_nosotros {
        font-size: 34px;
        line-height: 45px;
    
    }

.imagen_segunda_seccion_nosotros {
    width: 300px;
    text-align: center;
}

.titulo_segunda_seccion_nosotros {
    font-size: 30px;
    width: 340px;
    line-height: 40px;
    }


    .p_segunda_seccion_nosotros {
        height: 220px;
        width: 350px;
        }

        .btn_contactanos {
width: 700px;
        }



}


@media screen and (min-width:1024px) {

    .titulo_inicio_nosotros {
        font-size: 42px;
    }
    
    .p_inicio_nosotros {
        font-size: 42px;
        line-height: 40px;
        width: 550px;
        
    
    }











    .articulo_primer_seccion_nosotros {
        margin-bottom: 90px;
    }

    .imagen_segunda_seccion_nosotros {
        width:700px;
    }

    .titulo_segunda_seccion_nosotros {
        font-size: 32px;
        width: 700px;
    }
    
    .p_segunda_seccion_nosotros {
        width: 640px;
    }

    .imagen_tercer_seccion_nosotros {
width: 600px;

    }
    .titulo_tercer_seccion_nosotros {
        font-size: 32px;
    }

    .p_1_tercer_seccion_nosotros {
width: 600px;
font-size: 17px;

    }
    .p_tercer_seccion_nosotros {
        width: 550px;
        font-size: 17px;
    }


    .btn_contactanos {
        width: 14000px;
                }
}



